{
  "swagger": "2.0",
  "info": {
      "description": "\nAfin de faciliter la réutilisation des données juridiques, la DILA met à disposition du public une API de Légifrance.\nCe document a pour objectif de décrire les méthodes de l'API Légifrance, présentées à l'aide du framework Swagger.\nVous pouvez également télécharger une [documentation complémentaire](https://www.legifrance.gouv.fr/contenu/Media/Files/pied-de-page/description-des-tris-et-filtres-de-l-api.xlsx) ainsi que des [exemples d’utilisation](https://www.legifrance.gouv.fr/contenu/Media/Files/pied-de-page/exemples-d-utilisation-de-l-api.docx) de l'API.\n\nCet accès vous permet d’expérimenter l'API sur un environnement de test et de vous familiariser avec les différentes méthodes.\n\nÀ noter :\n- L'environnement de test peut être indisponible.\n- Les appels sont limités par quotas.\n\nLes mises à jour correctives et évolutives sont réalisées dans un premier temps sur cet environnement.\nL'API mise à disposition correspond à celle utilisée par le site de Légifrance.\n\nLes données ne sont pas identiques à celles de Production.\n\nL'API Légifrance est mise à disposition sous [conditions](https://www.legifrance.gouv.fr/contenu/pied-de-page/open-data-et-api).\n\nPour toute question, vous pouvez écrire à l'adresse retours-legifrance-modernise@dila.gouv.fr.",
      "version": "2.0.0",
      "title": "Légifrance",
      "contact": {
          "name": "DILA",
          "url": "https://www.dila.premier-ministre.gouv.fr",
          "email": "retours-legifrance-modernise@dila.gouv.fr"
      },
      "license": {
          "name": "Licence ouverte v2.0",
          "url": "https://www.etalab.gouv.fr/wp-content/uploads/2017/04/ETALAB-Licence-Ouverte-v2.0.pdf"
      }
  },
  "host": "sandbox-api.piste.gouv.fr",
  "basePath": "/dila/legifrance/lf-engine-app",
  "tags": [],
  "schemes": [
      "https",
      "http"
  ],
  "security": [
      {
          "OAuthImplicit": [
              "openid"
          ]
      },
      {
          "OAuthAccessCode": [
              "openid"
          ]
      }
  ],
  "paths": {
      "/consult/getCnilWithAncienId": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu d'un texte CNIL",
              "description": "Récupère un texte du fond CNIL en fonction de son Ancien ID",
              "operationId": "getCnilWithAncienIdUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "AncienId du texte cible",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/CnilConsultWithAncienId"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultCnilTextResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/list/docsAdmins": {
          "post": {
              "tags": [
                  "List Controller"
              ],
              "summary": "Liste des documents administratifs",
              "description": "Permet de récupérer la liste des documents administratifs pour une période donnée",
              "operationId": "listDocsAdminsUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Liste des années recherchées",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/DocsAdminsListRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/DocsAdminsListResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/suggest/acco": {
          "post": {
              "tags": [
                  "Suggest Controller"
              ],
              "summary": "Suggestions des siret et raisons sociale pour les accords",
              "description": "Effectue les suggestions siret et raisons sociales sur les accords d'entreprise à partir d'une chaine de caractères",
              "operationId": "siretRcSuggestUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Critères de recherche de suggestion (texte)",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/SuggestRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/SuggestAccoResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/getTables": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Liste des tables annuelles",
              "description": "Permet de récupérer l'ensemble des tables annuelles pour une période donnée",
              "operationId": "getTablesUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Période en année de la recherche des tables",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/TableRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/GetTableResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/list/bodmr": {
          "post": {
              "tags": [
                  "List Controller"
              ],
              "summary": "Liste des bulletins officiels des décorations, médailles et récompenses",
              "description": "Permet de récupérer la liste des bulletins officiels des décorations, médailles et récompenses",
              "operationId": "listBodmrUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Récupère les bulletins officiels des décorations, médailles et récompenses dans une liste paginée",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/BodmrListRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/BodmrListResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/list/questionsEcritesParlementaires": {
          "post": {
              "tags": [
                  "List Controller"
              ],
              "summary": "Liste paginée des questions écrites parlementaires",
              "description": "Permet de récupérer la liste paginée des questions écrites parlementaires",
              "operationId": "listQuestionsEcritesUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Récupère les questions écrites parlementaires dans une liste paginée",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/QuestionsEcritesParlementairesListRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/QuestionsEcritesParlementairesListResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/list/dossiersLegislatifs": {
          "post": {
              "tags": [
                  "List Controller"
              ],
              "summary": "Liste paginée des dossiers législatifs",
              "description": "Récupère les dossiers législatifs dans une liste paginée",
              "operationId": "listDossiersLegislatifsUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Critères de pagination de la liste des dossiers législatifs",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/DossiersLegislatifsRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/DossiersLegislatifsListResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/misc/commitId": {
          "get": {
              "tags": [
                  "Misc Controller"
              ],
              "summary": "Informations déploiement et versionning",
              "description": "Récupère les informations relatives au déploiement et au versionning de l'application",
              "operationId": "getCommitIdUsingGET",
              "produces": [
                  "application/json"
              ],
              "parameters": [],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "type": "object",
                          "additionalProperties": {
                              "type": "string"
                          }
                      }
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/list/conventions": {
          "post": {
              "tags": [
                  "List Controller"
              ],
              "summary": "Liste paginée des conventions",
              "description": "Récupère les conventions dans une liste paginée",
              "operationId": "listConventionsUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Critères de pagination de la liste de conventions",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/ConventionsListRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConventionsListResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/getArticleWithIdEliOrAlias": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu d'un article",
              "description": "Récupère un article par son identifiant Eli ou Alias",
              "operationId": "getArticleWithIdEliOrAliasUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Identifiant Eli ou alias de l'article",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/ArticleIdEliOrAliasRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/GetArticleResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/ping": {
          "get": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Teste le controller",
              "description": "Retourne pong",
              "operationId": "pingUsingGET_1",
              "produces": [
                  "text/plain"
              ],
              "parameters": [],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "type": "string"
                      }
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/kaliArticle": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu des conventions collectives depuis un article",
              "description": "Récupère le contenu d'un texte du fonds des conventions collectives (KALI) à partir de l'identifiant de son article",
              "operationId": "displayKaliArticleUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Identifiant technique de l'article",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/KaliTextConsultArticleRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultKaliTextResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/list/loda": {
          "post": {
              "tags": [
                  "List Controller"
              ],
              "summary": "Liste paginée des textes de type LODA",
              "description": "Récupère les éléments de type LODA dans une liste paginée",
              "operationId": "listLODAUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Critères de pagination de la liste LODA",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/LODAListRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/LODAListResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/sameNumArticle": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Liste des articles ayant eu le même numéro",
              "description": "Permet de récupérer les liens des articles ayant eu le même numéro que l'article en cours dans des versions précédentes du texte",
              "operationId": "displaySameNumArticleUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "sameNumArticleRequest",
                      "description": "Identifiant commun du texte / identifiant commun de l'article / numéro de l'article / date de référence",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/SameNumArticleRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/SectionsRevisionArticleResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/concordanceLinksArticle": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Liste des liens de concordance d'un article",
              "description": "Permet de récupérer les liens de concordance d'un article",
              "operationId": "displayConcordanceLinksArticleUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "concordanceLinksRequest",
                      "description": "Identifiant technique de l'article",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/ConcordanceLinksRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/SectionsRevisionArticleResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/code": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu texte type CODE",
              "description": "Récupère le contenu d'un texte de type CODE à partir de son identifiant et de sa date de vigueur",
              "operationId": "displayCodeUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "codeConsultRequest",
                      "description": "Identifiant technique et date de version du texte",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/CodeConsultRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultTextResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/search": {
          "post": {
              "tags": [
                  "Search Controller"
              ],
              "summary": "Recherche générique des documents indexés",
              "description": "Permet de faire une recherche de documents. On peut préciser le fond, les filtres textuels, les facettes et la pagination",
              "operationId": "searchUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "jsonRequest",
                      "description": "Requête de recherche porteur du/des fonds ciblés, des filtres et des informations de pagination",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/SearchRequestDTO"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/SearchResponseDTO"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/list/boccTexts": {
          "post": {
              "tags": [
                  "List Controller"
              ],
              "summary": "Liste paginée des textes unitaires des bulletins officiels des conventions collectives",
              "description": "Permet de récupérer la liste paginée des textes des bulletins officiels des conventions collectives",
              "operationId": "listTextsBoccUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Récupère les bulletins officiels des conventions collectives dans une liste paginée",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/BoccListRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/BoccTextsListResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/list/ping": {
          "get": {
              "tags": [
                  "List Controller"
              ],
              "summary": "Teste le controller",
              "description": "Retourne pong",
              "operationId": "pingUsingGET_3",
              "produces": [
                  "text/plain"
              ],
              "parameters": [],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "type": "string"
                      }
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/list/boccsAndTexts": {
          "post": {
              "tags": [
                  "List Controller"
              ],
              "summary": "Liste paginée des bulletins officiels des conventions collectives",
              "description": "Permet de récupérer la liste paginée des bulletins officiels des conventions collectives ainsi que leurs textes unitaires",
              "operationId": "listBoccsAndTextsUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Récupère les bulletins officiels des conventions collectives ainsi que leurs textes unitaires dans une liste paginée",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/BoccAndTextListRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/BoccGlobalListResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/kaliContIdcc": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu des conteneurs des conventions collectives",
              "description": "Récupère le contenu d'un conteneur du fonds des conventions collectives (KALI) à partir de son idcc",
              "operationId": "displayKaliContByIdccUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Identifiant fonctionnel du texte : l'idcc",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/KaliContConsultIdccRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultKaliContResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/legi/tableMatieres": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu table des matières d'un texte LODA ou CODE",
              "description": "Récupère la table des matières d'un texte de type CODE ou LODA à partir de son identifiant, sa date de vigueur. Possibilité de rechercher uniquement les codes en positionnant 'nature' sur 'CODE'",
              "operationId": "displayTextTableOfContentsUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "sommaireRequest",
                      "description": "Filtre de recherche d'un sommaire contenant un id/cid, une date et la nature texte recherché",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/LegiSommaireConsultRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultTextResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/getArticleByCid": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu des versions d'un article",
              "description": "Récupère la liste des articles par leur identifiant commun",
              "operationId": "getArticleByCidUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Identifiant technique de l'article",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/ArticleCidRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/GetListArticleResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/suggest": {
          "post": {
              "tags": [
                  "Suggest Controller"
              ],
              "summary": "Suggestions de résultats",
              "description": "Effectue les diverses suggestions sur les différents fonds à partir d'une chaine de caractères et de la liste des fonds sélectionnés",
              "operationId": "crossSearchUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Critères de recherche de suggestion (texte et fonds ciblés)",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/SuggestSupplyRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/SuggestResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/getJuriPlanClassement": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu texte fonds JURI",
              "description": "Récupère le contenu d'un texte du fonds JURI à partir de son identifiant",
              "operationId": "displayJuriPlanClassementUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Identifiant technique du texte",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/JuriPlanClassementRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/GetListPlanClassementJuriResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/list/code": {
          "post": {
              "tags": [
                  "List Controller"
              ],
              "summary": "Liste paginée des codes",
              "description": "Récupère les codes dans une liste paginée",
              "operationId": "listCodeUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Critères de pagination de la liste code",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/CodeListRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/CodeListResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/list/bocc": {
          "post": {
              "tags": [
                  "List Controller"
              ],
              "summary": "Liste paginée des bulletins officiels des conventions collectives",
              "description": "Permet de récupérer la liste paginée des bulletins officiels des conventions collectives",
              "operationId": "listBoccUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Récupère les bulletins officiels des conventions collectives dans une liste paginée",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/GlobalBoccListRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/BoccGlobalListResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/list/debatsParlementaires": {
          "post": {
              "tags": [
                  "List Controller"
              ],
              "summary": "Liste des débats parlementaires",
              "description": "Permet de récupérer la liste des débats parlementaires",
              "operationId": "listDebatsParlementairesUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Requête de recherche des débats parlementaires",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/DebatsParlementairesListRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/DebatsParlementairesListResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/cnil": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu texte fonds CNIL",
              "description": "Récupère le contenu d'un texte du fonds CNIL à partir de son identifiant",
              "operationId": "displayCnilUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Identifiant technique du texte",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/CnilConsultRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultCnilTextResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/search/ping": {
          "get": {
              "tags": [
                  "Search Controller"
              ],
              "summary": "Teste le controller",
              "description": "Retourne pong",
              "operationId": "pingUsingGET_4",
              "produces": [
                  "text/plain"
              ],
              "parameters": [],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "type": "string"
                      }
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/suggest/ping": {
          "get": {
              "tags": [
                  "Suggest Controller"
              ],
              "summary": "Teste le controller",
              "description": "Retourne pong",
              "operationId": "pingUsingGET_5",
              "produces": [
                  "text/plain"
              ],
              "parameters": [],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "type": "string"
                      }
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/chrono/textCidAndElementCid": {
          "post": {
              "tags": [
                  "Chrono Controller"
              ],
              "summary": "Extrait d'une version d'un texte",
              "description": "Récupère un extrait (section ou article) d'une version spécifique d'un texte à partir des identifiants du texte et de l'extrait (section ou article)",
              "operationId": "getVersionByTextCidAndElementCidUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Identifiants techniques du texte et de l'extrait ciblé (article ou section)",
                      "required": true,
                      "schema": {
                          "$ref": "#/definitions/ChronoLegiArticleRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ChronolegiResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/search/canonicalArticleVersion": {
          "post": {
              "tags": [
                  "Search Controller"
              ],
              "summary": "Récupération des versions de l'article",
              "description": "Permet de récupérer les versions d'un article",
              "operationId": "searchCanonicalArticleVersionUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Identifiant commun de l'article",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/ArticleRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/SearchCanonicalArticleVersionResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/search/canonicalVersion": {
          "post": {
              "tags": [
                  "Search Controller"
              ],
              "summary": "Récupération des infos de la version canonique",
              "description": "Permet de récupérer la date de debut de la version canonique d'un texte",
              "operationId": "searchCanonicalVersionUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Date de recherche / Identifiant commun du texte / Identifiant commun de la section",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/SearchCanonicalVersionRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/SearchCanonicalVersionResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/chrono/textCid/{textCid}": {
          "get": {
              "tags": [
                  "Chrono Controller"
              ],
              "summary": "Vérifie si un texte possède des versions",
              "description": "Indique si un texte possède des versions chrono à partir de l'identifiant du texte",
              "operationId": "hasVersionByTextCidUsingGET",
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "name": "textCid",
                      "in": "path",
                      "description": "Chronical ID",
                      "required": true,
                      "type": "string"
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/HasChronolegiResponse"
                      }
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/jorfCont": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Liste de sommaire JORF",
              "description": "Récupère la liste de conteneurs/sommaires JORF",
              "operationId": "displayJorfContUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Periode de JORF recherché / id de JORF recherché / numéro de JORF recherché",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/JorfContConsultRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/GetJosResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/dossierLegislatif": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu d'un dossier législatif",
              "description": "Récupère le contenu d'un dossier legislatif par son identifiant",
              "operationId": "displayDossierLegislatifUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Identifiant technique du dossier législatif",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/DossierLegislatifRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultDossierLegislatifResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/juri": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu texte fonds JURI",
              "description": "Récupère le contenu d'un texte du fonds JURI à partir de son identifiant",
              "operationId": "displayJuriUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Identifiant technique du texte",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/JuriConsultRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultJuriTextResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/chrono/textCid": {
          "post": {
              "tags": [
                  "Chrono Controller"
              ],
              "summary": "Version d'un texte",
              "description": "Récupère une version spécifique d'un texte à partir de l'identifiant du texte",
              "operationId": "getVersionByTextCidUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Identifiant technique du texte",
                      "required": true,
                      "schema": {
                          "$ref": "#/definitions/ChronoLegiTextRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ChronolegiResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/legiPart": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu texte fonds LEGI",
              "description": "Récupère le contenu d'un texte du fonds LEGI à partir de son identifiant et de sa date de vigueur",
              "operationId": "displayLegiPartUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "legiConsultRequest",
                      "description": "Identifiant technique et date de version du texte",
                      "required": true,
                      "schema": {
                          "$ref": "#/definitions/LegiConsultRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultTextResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/suggest/pdc": {
          "post": {
              "tags": [
                  "Suggest Controller"
              ],
              "summary": "Suggestions des libellés pour les plans de classement",
              "description": "Effectue les suggestions des libellés sur les plans de classements à partir d'une chaine de caractères",
              "operationId": "pdcSuggestUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Critères de recherche de suggestion (texte)",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/SuggestPdcRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/SuggestResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/misc/datesWithoutJo": {
          "get": {
              "tags": [
                  "Misc Controller"
              ],
              "summary": "Liste des dates sans JO",
              "description": "Permet de récupérer l'ensemble des dates pour lesquelles il n'existe pas de Journal Officiel",
              "operationId": "getDatesWithoutJoUsingGET",
              "produces": [
                  "application/json"
              ],
              "parameters": [],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/DatesWithNoJoResponse"
                      }
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/getJuriWithAncienId": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu d'un texte juri",
              "description": "Récupère un texte du fond juri en fonction de son Ancien ID",
              "operationId": "getJuriWithAncienIdUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "AncienId du texte cible",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/JuriConsultWithAncienId"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultJuriTextResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/jorf": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu texte fonds JORF",
              "description": "Récupère le contenu d'un texte du fonds JORF à partir de son identifiant",
              "operationId": "displayJorfUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "jorfConsultRequest",
                      "description": "Chronical ID du texte",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/JorfConsultRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultJorfResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/getCodeWithAncienId": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu d'un Code",
              "description": "Récupère un Code en fonction de son Ancien ID",
              "operationId": "getCodeWithAncienIdUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "AncienId du code cible",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/CodeConsultWithAncienId"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultTextResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/getJoWithNor": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu d'un JO",
              "description": "Récupère un JO en fonction de son NOR",
              "operationId": "getJoWithNorUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "NOR du JO cible",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/JorfConsultWithNorRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultJorfResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/lastNJo": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Derniers journaux officels",
              "description": "Récupère les derniers journaux officiels",
              "operationId": "getLastNJoUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Nombre de JOs à remonter",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/LastNElementRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/GetJorfContResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/kaliSection": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu des conventions collectives depuis une section",
              "description": "Récupère le contenu d'un texte du fonds des conventions collectives (KALI) à partir de l'identifiant de sa section",
              "operationId": "displayKaliSectionUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Identifiant technique de la section",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/KaliTextConsultSectionRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultKaliTextResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/kaliCont": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu des conteneurs des conventions collectives",
              "description": "Récupère le contenu d'un conteneur du fonds des conventions collectives (KALI) à partir de son identifiant",
              "operationId": "displayKaliContUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Identifiant technique du conteneur",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/KaliContConsultRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultKaliContResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/list/legislatures": {
          "post": {
              "tags": [
                  "List Controller"
              ],
              "summary": "Liste des législatures",
              "description": "Récupère les législatures",
              "operationId": "listLegislaturesUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/LegislaturesListResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/code/tableMatieres": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu table des matières d'un CODE (déprécié, utiliser /legi/tableMatieres avec le champ 'nature'='CODE' à la place)",
              "description": "Récupère la table des matières d'un texte de type CODE à partir de son identifiant et de sa date de vigueur",
              "operationId": "displayCodeTableOfContentsUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "codeConsultRequest",
                      "description": "Identifiant technique et date de version du texte",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/CodeConsultRequest"
                      }
                  }
              ],
              "deprecated": true,
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultTextResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/search/nearestVersion": {
          "post": {
              "tags": [
                  "Search Controller"
              ],
              "summary": "Récupération des infos de la version la plus proche",
              "description": "Permet de récupérer le titre et la section de la version d'un texte la plus proche d'une date donnée",
              "operationId": "searchNearestVersionUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Date de recherche / Identifiant commun du texte / Identifiant commun de la section",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/SearchNearestVersionRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/SearchNearestVersionResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/getBoccTextPdfMetadata": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Métadonnées d'un PDF lié à un texte unitaire BOCC",
              "operationId": "getBoccTextPdfMetadataUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "id du texte BOCC",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/BoccConsultRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultBoccResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/getSectionByCid": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu d'une section",
              "description": "Récupère la liste des section par leur identifiant commun",
              "operationId": "getSectionByCidUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Identifiant technique de la section",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/SectionCidRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/GetListSectionResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/debat": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu d'un débat parlementaire",
              "description": "Récupère le contenu d'un débat parlementaire à partir de son identifiant",
              "operationId": "displayDebatUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Identifiant technique du débat",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/DebatParlementaireConsultRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultDebatResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/chrono/ping": {
          "get": {
              "tags": [
                  "Chrono Controller"
              ],
              "summary": "Teste le controller",
              "description": "Retourne pong",
              "operationId": "pingUsingGET",
              "produces": [
                  "text/plain"
              ],
              "parameters": [],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "type": "string"
                      }
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/kaliText": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu des conventions collectives",
              "description": "Récupère le contenu d'un texte du fonds des conventions collectives (KALI) à partir de son identifiant",
              "operationId": "displayKaliTextUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Identifiant technique du texte",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/KaliTextConsultRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultKaliTextResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/getArticle": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu d'un article",
              "description": "Récupère un article par son identifiant",
              "operationId": "getArticleUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "articleRequest",
                      "description": "Identifiant technique de l'article",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/ArticleRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/GetArticleResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/getArticleWithIdAndNum": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu d'un Article",
              "description": "Récupère un Article en fonction de son  ID et Numéro article",
              "operationId": "getArticleWithIdAndNumUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "request",
                      "description": "Id et Num",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/ArticleConsultWithIdAndNum"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/GetArticleResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/lawDecree": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu texte type LODA",
              "description": "Récupère le contenu d'un texte de type LODA à partir de son identifiant et de sa date de vigueur",
              "operationId": "displayLawDecreeUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "lawDecreeConsultRequest",
                      "description": "Identifiant technique et date de version du texte",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/LawDecreeConsultRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultTextResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/eliAndAliasRedirectionTexte": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu des textes du JO.",
              "description": "Récupère le contenu d'un texte du fonds JORF à partir de son idEli ou idEliAlias",
              "operationId": "getJoCidWithEliOrAliasUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
                      "name": "jorfConsultWithIdEliAliasRequest",
                      "description": "idEli ou idEliAlias",
                      "required": false,
                      "schema": {
                          "$ref": "#/definitions/JorfConsultWithIdEliAliasRequest"
                      }
                  }
              ],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/ConsultJorfResponse"
                      }
                  },
                  "201": {
                      "description": "Created"
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/misc/yearsWithoutTable": {
          "get": {
              "tags": [
                  "Misc Controller"
              ],
              "summary": "Liste des années sans table",
              "description": "Permet de récupérer l'ensemble des années sans table annuelle",
              "operationId": "getYearsWithoutTableUsingGET",
              "produces": [
                  "application/json"
              ],
              "parameters": [],
              "responses": {
                  "200": {
                      "description": "OK",
                      "schema": {
                          "$ref": "#/definitions/YearsWithNoTableResponse"
                      }
                  },
                  "401": {
                      "description": "Unauthorized"
                  },
                  "403": {
                      "description": "Forbidden"
                  },
                  "404": {
                      "description": "Not Found"
                  }
              },
              "x-axway": {}
          }
      },
      "/consult/acco": {
          "post": {
              "tags": [
                  "Consult Controller"
              ],
              "summary": "Contenu d'un accord d'entreprise",
              "description": "Récupère le contenu d'un accord d'entreprise à partir de son identifiant",
              "operationId": "displayAccoUsingPOST",
              "consumes": [
                  "application/json"
              ],
              "produces": [
                  "application/json"
              ],
              "parameters": [
                  {
                      "in": "body",
[...]
